<h1 class="font-serif text-5xl text-primary-700 mx-auto text-center pt-24">
  Freebird
</h1>
<h2 class="text-2xl text-primary-400 mx-auto text-center pt-4 py-8">
  Minimal. Open. Free.
</h2>
<p class="px-4 text-center leading-loose text-gray-600 text-xl">
  Freebird is a <b>free</b> and <b>open source</b> starter theme for Statamic
  CMS <br />
  It features a Laravel Mix build system and Tailwind CSS so <br />
  you can create your next theme quickly and easily!
</p>
<hr />

<!-- Delete the above code to start fresh with a new template -->
<div class="mx-auto text-center">
  {{ title }}
  {{ content }}
</div>
